LOG_LEVEL=INFO
PROD_RUN=false

YANDEXID_CLIENT_ID=your-client-id
YANDEXID_CLIENT_SECRET=your-client-secret
YANDEXID_REDIRECT_URL=http://localhost:8000/yandexid/token

RATE_LIMIT_ENABLED=true
RATE_LIMIT_IP_LIMIT=5
RATE_LIMIT_IP_WINDOW_SECONDS=60
